.wrapper {
  padding: 20px 0px;
  background-color: #ffb6c1;
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.title span {
  color: var(--themeColor3);
}

.list {
  padding: 0px 0px 20px 0px;
}

.list li {
  margin-top: 14px;
  font-size: 16px;
  line-height: 23px;
  list-style-type: none;
  display: flex;
  gap: 12px;
  padding: 20px 6px;
}

.list li svg {
  width: 30px;
  height: 30px;
}

.RegisterBtn {
  text-align: center;
  margin: 16px 0px;
}

.RegisterButton {
  padding: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background-color: var(--themeColor2);
  border: 1px solid var(--themeColor2);
  color: var(--greyLight);
  text-transform: capitalize;
}

@media (min-width: 480px) {
  .title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
  }

  .list li {
    margin-top: 18px;
    font-size: 16px;
    line-height: 24px;
    list-style-type: none;
    display: flex;
    gap: 12px;
    padding: 20px 6px;
  }

  .list li svg {
    width: 20px;
    height: 20px;
  }

  .RegisterBtn {
    text-align: center;
    margin: 25px 0px;
  }

  .RegisterButton {
    padding: 12px 24px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    background-color: var(--themeColor2);
    border: 1px solid var(--themeColor2);
    color: var(--greyLight);
    text-transform: capitalize;
  }
}

@media (min-width: 768px) {
  .wrapper {
    padding: 40px 0px;
    /* background-color: #ffb6c1; */
    background-color: var(--backgroundColor);
  }

  .title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
  }

  .list {
    padding: 16px 0px;
  }

  .list li {
    font-size: 24px;
    line-height: 36px;
    padding: 20px 6px;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #fbe9e7;
    /* border-bottom: 1px solid #b76e79; */
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  }

  .list li svg {
    width: 30px;
    height: 30px;
  }

  .RegisterBtn {
    text-align: center;
    margin: 40px 0px;
  }

  .RegisterButton {
    padding: 20px 36px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    background-color: var(--themeColor2);
    border: 1px solid var(--themeColor2);
    color: var(--greyLight);
    text-transform: capitalize;
  }

  .RegisterButton span {
    font-weight: 400;
  }
}
