.accordionItemWrapper {
  overflow: "hidden";
  transition: "all 0.3s ease";
}

.content {
  padding: 12px;
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px solid;
}

.accordionContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  background: #f8f9fb;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  font-size: 13px;
}

@media (min-width: 480px) {
  .accordionItemWrapper {
    overflow: "hidden";
    transition: "all 0.3s ease";
  }
  .content {
    padding: 16px;
    font-size: 14px;
    line-height: 22px;
    border-bottom: 1px solid;
  }

  .accordionContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 16px;
    background: #f8f9fb;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .accordionItemWrapper {
    overflow: "hidden";
    transition: "all 0.3s ease";
  }
  .content {
    padding: 16px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid;
  }

  .accordionContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: #f8f9fb;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-size: 16px;
    background-color: #fff5f7;
  }
}
